# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Tools
.tools/

# Logs
*.log

# RocksDB
*.sst
*.ldb
MANIFEST-*
CURRENT
LOCK
LOG
LOG.old.*

# Node / React
node_modules/
frontend/node_modules/

dist/
frontend/dist/